requests>=2.31.0
beautifulsoup4>=4.12.0
user-agent>=0.1.10
urllib3>=2.0.0
pyTelegramBotAPI
lxml>=4.9.0 
flask
mysql-connector-python
requests-toolbelt
httpx
cloudscraper
colorama
lxml
PyJWT
python-cfonts
faker
python-telegram-bot
python-whois
Aiogram
Pyrogram
TgCrypto
psutil==6.0.0
pycountry==22.3.5
gunicorn==23.0.0
schedule==1.2.2
pymysql==1.1.1
Pillow==10.4.0
main
